@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body { 
    font-family: 'Poppins', sans-serif;
}
.justificado {
    text-align: justify;
}
.services .btn-1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.general .btn-1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagenes/libros.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-image {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
    width: 150px;
    top: 100px;
    left: 100px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
    color: #ce967b;
}
.navbar  { /*navbar es una clase*/
    position: absolute;
    right: 0px;
    bottom: 80px;
}
#menu {
    display: none;
}
.menu-icon {
    width: 25px;
}
.menu label {
    display: none;
    cursor: pointer;
}
.header-content {
    text-align: center;
}
.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}
.btn {
    display: inline-block;
    padding: 11px 35px;
    background: #ce967b;
    color: #f9fafc;
    font-size: 18px;
    text-transform: uppercase;
}
.btn-1 {/*boton ver mas de servicios*/
    display: inline-block;
    padding: 11px 35px;
    background: #ce967b;
    color: #f9fafc;
    font-size: 18px;
    text-transform: uppercase;
}
.btn:hover {
    color: #ebad8d;
}
.btn-1:hover {
    color: #ebad8d;
}
.Servicios {
    padding: 200px 0;
    background-color: #e1e2e6;
    position: relative;
}
.Servicios-content {
    text-align: center;
}
.Servicios-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 55px;
}
.services-0 { /*coffe- group*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.Servicios-group { /*coffe 1*/
    padding: 90px 50px;
}
.Servicios-group img {
    position: relative;
    width: 150px;
    height: 150px;
}
.Servicios-group h3 { /*coffe 1*/
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.services { 
    background-image: linear-gradient(rgba(26, 25, 25, 0.205), rgba(15, 15, 15, 0.363)), url(imagenes/blog/equilibrio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.Servicios-content-1 h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.Servicios-content-1 p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 100px;
    margin-bottom: 50px;
}
.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios-1 {
    padding: 0px 100px;
}
.servicios-1 img {
    width: 100px;
    margin-bottom: 15px;
}
.servicios-1 h3 {
    color: #eaccb3;
    font-size: 20px;
}
.general {
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}
.general-2 {
    background-image: url(imagenes/blog/libros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3 {
    background-image: url(imagenes/blog/oficina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}
.blog {
    padding: 100px 0;
    text-align: center;
}
.blog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Para manejar mejor las alineaciones en pantallas pequeñas */
}

.blog .btn-1 {
    display: inline-block; /* Mantén el formato del botón */
    margin: 20px auto; /* Centra horizontalmente con margen automático */
    text-align: center; /* Asegúrate de que el texto esté centrado */
    width: 200px; /* Ajusta el ancho, si es necesario */
}
.blog-1 {
    padding: 15px 55px;
}
.blog-1 img {
    width: 250px;
    border-radius:  15px;
    margin-bottom: 15px;
}
.blog-1 h3 {
    color: #323337;
    font-size: 25px;
}
footer {
    background: #000000;
    color: #fff;
    padding: 100px 0;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}
.footer-content .link {
    flex: 1 1 200px;
}
.footer-content .link h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #f9fafc;
}
.footer-content .link ul {
    padding: 0;
}
.footer-content .link ul li {
    margin-bottom: 5px;
}
.footer-content .link ul li a {
    color: #fff;
    font-size: 16px;
}
.footer-content .link ul li a:hover {
    color: #ce967b;
}
.footer-content p {
    flex: 1 1 100%;
    margin-top: 20px;
}
@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #323337;
    }
    .menu .navbar ul li {
        width: 100%;    
}
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header-content {
        padding: 100px 30px;
    }
    .header-content p{
        padding: 0;
    }
    .Servicios {
        padding: 30px;
    }
    .Servicios-content h2 {
        padding: 0px;
    }
    .txt-p {
        padding: 0px;
    }
    .services-0 {
        flex-direction: column;
        margin-bottom: 0;
    }
    .services {
        padding: 30px;
    }
    .Servicios-content p {
        padding: 0;
    }
    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }
    .servicios-1 {
        margin-bottom: 25px;
    }
    .general {
        flex-direction: column;
    }
    .general-1 {
        padding: 30px;
        width: 100%;
        text-align: center;
    }
    .general-2.general-3 {
        display: none;
    }
    .blog {
        padding: 30px;
    }
    .blog-content {
        flex-direction: column;
    }
    .blog-1 {
        padding: 0;
    }
    .footer {
        padding: 30px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}